<h1>Stupid Coaching</h1>

<body>
  <div>
  <%= @question %>
  <p>-You</p>
  </div>
  <br>
  <div>
  <strong><%= @answer%></strong>
  <p>-Your Coach</p>
  </div>
  <br>
  <%= link_to "Ask a new question", ask_path %>
</body>
