<h1>Stupid Coaching🚀</h1>


<form action="answer" method="get">
  <label>Ask your coach anything:</label>
  <br>
  <br>
  <input class="span"type="text" name="query">
  <input id ="btn" type="submit" value="Ask!">
</form>

