// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray;

}

.span {
  background:white;
  height: 50px;
  width: 50%;
  border-radius: 10px;
}
a {
  color: grey;
  &:hover {
    color: black;
  }
}

#btn{
  background-color: blue;
  color: white;

  width: 50px;
  height: 55px;
  border-radius:10px;
}

.question {
  margin-top: 50px;
  height: 50px;
  padding-left: 60px;
  border-left: 5px solid grey;
}

.answer{
  background-color: rgb(239, 236, 172);
  height: 50px;
  padding-left: 60px;
  border-left: 5px solid grey;
}
